.blog,
.archive,
.search {

  .entry {

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}
.entry {

  &.sticky {
    position: relative;
  }
}
.sticky-status {
  @extend %uppercase;
  @extend %twelve-pixels;
  display: inline-block;
  margin-bottom: $baseline-height/2;
  margin-right: $baseline-height/2;
  background: #000;
  color: #fff;
  font-family: $pt-sans;
  padding: 6px 12px;
  font-weight: 700;
}
.has-post-thumbnail {

  .sticky-status {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.entry.double.small {

  .sticky-status {
    top: 12px;
  }
}
.rtl .has-post-thumbnail .sticky-status {
  left: 0;
  right: auto;
  margin-left: 0;
}

// Jetpack infinite scroll fixes
.infinite-wrap {
  clear: both;
  border-top: solid 1px $color-gray-86;

  &:after {
    @include clearfix;
  }
}
#infinite-handle,
.infinite-loader {
  clear: both;
}
#infinite-handle {
  padding-top: 24px;
  text-align: center;
}
.layout-double .infinite-wrap {
  padding-top: 12px;
}