.blog,
.archive,
.search {

  .entry {

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}
.entry {

  &.sticky {
    position: relative;
  }
}
.sticky-status {
  @extend %uppercase;
  @extend %twelve-pixels;
  display: inline-block;
  margin-bottom: $baseline-height/2;
  margin-right: $baseline-height/2;
  background: #000;
  color: #fff;
  font-family: $pt-sans;
  padding: 6px 12px;
  font-weight: 700;
}
.has-post-thumbnail {

  .sticky-status {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.entry.double,
.entry.double.small {

  .sticky-status {
    top: 12px;
  }
}

body:not(.small-first-post) {

  .entry.double,
  .entry.double.small {
    
    &:nth-child(odd) {

      .sticky-status {
        left: 12px;
      }
    }
  }
  
}
body.small-first-post {

  .entry.double,
  .entry.double.small {

    &:nth-child(even) {

      .sticky-status {
        left: 12px;
      }
    }
  }
}
.layout-simple.titles-above-image {

  .post-header {
    position: relative;
  }
  .sticky-status {
    top: calc(100% + 12px);
    z-index: 9;
  }
}
.layout-double.titles-above-image:not(.small-first-post) {

  .entry:first-child {

    .post-header {
      position: relative;
    }
    .sticky-status {
      top: calc(100% + 12px);
      z-index: 9;
    }
  }
}

.rtl .has-post-thumbnail .sticky-status {
  left: 0;
  right: auto;
  margin-left: 0;
}

// Jetpack infinite scroll fixes
.infinite-wrap {
  clear: both;
  border-top: solid 1px $color-gray-86;

  &:after {
    @include clearfix;
  }
}
#infinite-handle,
.infinite-loader {
  clear: both;
}
#infinite-handle {
  padding-top: 24px;
  text-align: center;
}
.layout-double .infinite-wrap {
  padding-top: 12px;
}