.featured-image {
  position: relative;
  line-height: 0;

  > a {
    font-size: 0;
    transition: opacity 0.25s;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.9;
    }
  }
  img {
    width: 100%;
  }
  .ccfic {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 4px 4px 4px 12px;
    font-size: 13px;
  }
}
.layout-double .double,
.layout-rows .rows,
.layout-rows-excerpt .rows-excerpt,
.widget_ct_mission_news_post_list .style-2,
.more-from-category {

  .featured-image {
    height: 0;
    padding-bottom: 75%;
    overflow: hidden;

    > img,
    > a > img {
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;

      &.no-object-fit {
        min-width: 0;
        min-height: 0;
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;

        // positioning
        top: 50%;
        right: 50%;
        left: auto;
        transform: translateX(50%) translateY(-50%);
      }
    }
  }
}