.site-header {
  position: relative;
  padding: $baseline-height/2 $column * 2;
  border-bottom: solid 1px $color-gray-86;
  margin-bottom: $baseline-height * .75;
  text-align: center;

  &:after {
    @include clearfix;
  }
  .date {
    @extend %ten-pixels;
    margin: 0;
  }
}
.title-container {
  position: relative;
  z-index: 19;
  display: inline-block;
  max-width: calc(100% - 96px);
}
.site-title {
  font-family: $abril-fatface;

  a {
    @extend %black-link;
    transition: color 0.15s;
  }
}
.tagline {
  @extend %fourteen-pixels;
  display: none;
  font-style: italic;
  margin: 0;
}
.social-media-icons {
  list-style: none;

  li {
    display: inline-block;
    margin-right: 8px;
    text-align: center;
  }
  a {
    line-height: 30px;
    display: inline-block;
    width: 36px;
    height: 36px;
    border: solid 1px #fff;
    border-radius: 3px;
    transition: color 0.15s, border-color 0.15s;

    &:hover,
    &:active,
    &:focus {
      color: $color-gray-86;
      border-color: $color-gray-86;
    }
  }
  i {
    vertical-align: middle;
  }
}
.site-header .social-media-icons {
  margin: -12px 0 $baseline-height * 2;
  display: none;
  padding: 0 $column * 2;
  opacity: 1;
  visibility: visible;
  transition: transform 0.25s;

  &.moved {
    display: block;
  }
  a {
    @extend %white-link;
  }
}
.search-toggle {
  position: relative;
  z-index: 19;
  float: left;
  border: solid 1px $color-gray-86;
  border-radius: 3px;
  background: none;
  margin: 0 -36px 0 0;
  padding: 8px 10px;
  transition: border-color 0.35s;

  span {
    @extend %uppercase;
    display: none;
    font-family: $pt-sans;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 700;
    margin-left: 6px;
  }
  &:hover {
    cursor: pointer;
    color: $color-gray-40;
  }
  &.open {
    border-color: #000;
  }
  &:focus {
    outline: none;
  }
  i {
    font-size: 14px;
    line-height: 18px;
  }
}
.display-search {

  .search-form-popup {
    opacity: 1;
    visibility: visible;
  }
}
.admin-bar {

  .search-form-popup {
    top: 46px;
  }
}
.search-form-popup {
  position: fixed;
  z-index: 49;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255,0.97);
  padding: $baseline-height * 2.5 $column * 2;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s, visibility 0.25s;

  .title {
    margin-bottom: 18px;
    font-weight: 700;
  }
  .search-form {
    display: flex;
  }
  .search-field {
    border-radius: 18px 0 0 18px;
    margin-right: 0;
    border-right: none;
  }
  .search-submit {
    @extend %uppercase;
    border-radius: 0 18px 18px 0;
    margin-left: 0;
    font-weight: 700;
    min-width: 87px; // may not work great with all languages but required b/c IE 10/11 doesn't use box-sizing for flex children...
  }
  .close {
    position: absolute;
    top: $baseline-height * 0.75;
    left: $column * 2;
    margin-left: 8px;

    svg g {
      transition: fill 0.15s;
    }
    &:hover {

      svg g {
        fill: $color-gray-40;
      }
    }
  }
}

@media all and (min-width: $five-hundred) {

  .search-form-popup {

    .title {
      font-size: 1.125em; /* 18px / 16px */
      line-height: 1.333; /* 24px */
    }
  }
}

@media all and (min-width: $six-hundred) {

  .site-header {
    padding: $baseline-height * 0.75 $column;
  }
  .site-title {
    font-size: 1.3125em; /* 21px / 16px */
    line-height: 1.143; /* 24px */
  }
  .search-form-popup {
    padding: $baseline-height * 2.5 $column;

    .title {
      font-size: 1.3125em; /* 21px / 16px */
      line-height: 1.143; /* 24px */
      margin-bottom: 24px;
    }
    .search-form {
      max-width: 560px;
      margin: 0 auto;
    }
    .close {
      left: $column;
    }
  }
}

@media all and (min-width: 783px) {

  .admin-bar .search-form-popup {
    top: 32px;
  }
}

@media all and (min-width: $eight-hundred) {

  .site-header {
    border-bottom: 0;
    padding-bottom: 0;

    .date {
      display: inline-block;
      position: absolute;
      left: 0;
      bottom: -18px;
      font-family: $pt-sans;
      font-size: 12px;
      line-height: 1.5;
      font-weight: 700;
    }
  }
  .title-container {
    display: block;
    max-width: 100%;
    margin-bottom: $baseline-height;
  }
  .site-title {
    font-size: 1.75em; /* 28px / 16px */
    line-height: 1.357; /* 38px */
  }
  .tagline {
    display: block;
  }
  .top-nav {
    margin-bottom: $baseline-height/4;

    &:after {
      @include clearfix;
    }
  }
  .social-media-icons {
    line-height: 0;

    a {
      font-size: 14px;
      line-height: 18px;
      width: 24px;
      height: 24px;
      border: solid 1px #000;
    }
  }
  .site-header .social-media-icons {
    display: block;
    margin: 0;
    padding: 0;
    float: right;

    a {
      color: #000;

      &:link,
      &:visited {
        color: #000;
      }
      &:hover,
      &:active,
      &:focus {
        color: $color-gray-40;
      }
    }
  }
  .search-toggle {
    position: relative;
    border: none;
    padding: 0;
    margin: 0 18px 0 0;

    &::-moz-focus-inner {
      border: 0;
      padding: 0;
      margin-top: -1px;
    }
    span {
      display: inline-block;
    }
    i {
      font-size: 12px;
      line-height: 1.5;
    }
  }
  .search-form-popup {
    padding-top: $baseline-height * 3;

    .title {
      font-size: 1.75em; /* 28px / 16px */
      line-height: 1.357; /* 38px */
    }
    .search-field {
      padding: 11px 18px;
      border-radius: 24px 0 0 24px;
      font-size: 16px;
      line-height: 1.5;
    }
    .search-submit {
      padding: 15px 18px;
      border-radius: 0 24px 24px 0;
    }
  }
}

@media all and (min-width: $one-thousand) {

  .site-title {
    font-size: 2.375em; /* 38px / 16px */
    line-height: 1.342; /* 51px */
  }
  .tagline {
    font-size: 1em;
    line-height: 1.5;
  }
  .search-form-popup {

    .title {
      font-size: 2.375em; /* 38px / 16px */
      line-height: 1.342; /* 51px */
    }
    .search-form {
      max-width: 680px;
    }
  }
}