@media all and (min-width: $eight-hundred) {

  // Remove left sidebar border
  .layout-right-sidebar,
  .layout-right-sidebar-wide,
  .layout-no-sidebar,
  .layout-no-sidebar-wide {

    .content-container {

      &:before {
        display: none;
      }
    }
  }
  // Remove right sidebar border
  .layout-left-sidebar,
  .layout-left-sidebar-wide,
  .layout-no-sidebar,
  .layout-no-sidebar-wide {

    .content-container {

      &:after {
        display: none;
      }
    }
  }
  // Make Featured Image extra big
  .layout-left-sidebar,
  .layout-right-sidebar {

    .entry:first-child .featured-image {
      width: 156%;
    }
  }
  // Move the Featured Image to the left
  .layout-right-sidebar {

    .entry:first-child .featured-image {
      left: -56%;
    }
  }
  // Increase loop-container width for wide layouts
  .layout-left-sidebar-wide,
  .layout-right-sidebar-wide {

    .loop-container,
    .archive-header,
    .widget-area-above-main {
      width: 156%;
    }
  }
  // Larger post titles for double layout
  .layout-left-sidebar-wide,
  .layout-right-sidebar-wide,
  .layout-no-sidebar-wide {

    &.blog.layout-double,
    &.archive.layout-double {

      .entry:not(:first-child) {

        .post-title {
          font-size: 1.3125em; /* 21px / 16px */
          line-height: 1.143; /* 24px */
        }
      }
    }
  }
  // Move loop-container left for wide right-sidebar layout
  .layout-right-sidebar-wide {

    .loop-container,
    .archive-header,
    .widget-area-above-main {
      margin-left: -56%;
    }
  }
  // Enlarge and center the Featured Image
  .layout-no-sidebar {

    .entry:first-child .featured-image {
      left: -28%;
      width: 156%;
    }
  }
  // Enlarge and center the content & Featured Image
  .layout-no-sidebar-wide {

    .loop-container,
    .archive-header,
    .widget-area-above-main {
      position: relative;
      width: 156%;
      left: -28%;
    }
    .entry:first-child .featured-image {
      left: -18%;
      width: 136%;
    }
  }
  // Enlarge and center the post title
  .layout-no-sidebar,
  .layout-no-sidebar-wide {

    .post-header,
    .archive-header {
      text-align: center;
    }
    .entry:first-child {

      .post-header {
        position: relative;
        left: -14%;
        width: 128%;
        margin: $baseline-height * 0.75 0 $baseline-height;
      }
      .post-title {
        font-size: 2.375em;
        line-height: 1.342;
      }
    }
  }
  // left-align non-first post in row layouts on archives & blog
  .layout-no-sidebar,
  .layout-no-sidebar-wide {

    &.blog.layout-rows,
    &.archive.layout-rows,
    &.blog.layout-rows-excerpt,
    &.archive.layout-rows-excerpt {

      .entry:not(:first-child) {

        .post-header{
          text-align: left;
        }
      }
    }
  }
}