.content-container {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.main {
  display: table-header-group;

  .loop-container {
    padding: 0 $column * 2 $baseline-height;
  }
}

@media all and (min-width: $six-hundred) {

  .main {

    .loop-container {
      padding: 0 $column $baseline-height;
    }
  }
}

@media all and (min-width: $eight-hundred) {

  .content-container {
    display: block;
    min-height: calc(100vh - 430px);

    &:after {
      @include clearfix;
    }
  }
  .main {
    position: relative;
    width: 50%; // $column * 16
    float: left;
    padding: 0 $column $baseline-height;
    display: block;

    .loop-container {
      padding: 0;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: -9999px;
      width: 1px;
      background: $color-gray-86;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
}