.menu-secondary-container {
  display: none;
  transition: transform 0.25s;

  &.moved {
    display: block;
  }
}
.menu-secondary {
  padding: 0 $column * 2;

  .toggle-dropdown {
    padding: 12px $column * 2;
  }
}
.menu-secondary-items,
.menu-secondary .menu-unset > ul {
  position: relative;
  top: -42px;
  margin: 0;
  list-style: none;

  li {
    position: relative;
    border-bottom: solid 1px $color-gray-15;

    &.current-menu-item,
    &.current-menu-ancestor {

      > a {
        text-decoration: underline;
      }
    }
    &.current,
    &.current-ancestor {

      ul {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  a {
    @extend %twelve-pixels;
    @extend %uppercase;
    display: block;
    font-family: $pt-sans;
    padding: 15px 0;
    color: $color-gray-86;
    text-decoration: none;
    transition: color 0.15s;

    &:link,
    &:visited {
      color: $color-gray-86;
    }
    &:hover,
    &:active,
    &:focus {
      color: #fff;
    }
  }
  ul {
    position: fixed;
    top: -12px;
    left: 100%;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0 $column * 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s;

    ul {
      left: 200%;
    }
    ul ul {
      left: 300%;
    }
    ul ul ul {
      left: 400%;
    }
    ul ul ul ul {
      left: 500%;
    }
  }
}

@media all and (max-width: 799px) {

  .menu-secondary-items,
  .menu-secondary .menu-unset > ul {

    li {

      &.current,
      &.current-ancestor {

        ul {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

@media all and (min-width: $eight-hundred) {

  .menu-secondary-container {
    display: block;
    float: left;
    text-align: left;
  }
  .menu-secondary {
    padding: 0;

    .toggle-dropdown {
      display: none;
    }
    .menu-unset {

      a {
        // padding: 0 
      }
    }
  }
  .menu-secondary-items,
  .menu-secondary .menu-unset > ul {
    position: static;
    line-height: 0; // aligns menu with search bar (lets menu items 18px line-height replace 24px line-height)

    li {
      position: relative;
      z-index: 29;
      display: inline-block;
      border-bottom: none;
      margin-right: 8px;

      &.menu-item-has-children {

        > a:after {
          content: '\f107';
          font-family: "FontAwesome";
          display: inline-block;
          position: relative;
          margin-left: 3px;
          line-height: 1;
          top: 0;
          text-decoration: none;
        }
      }
    }
    a {
      display: inline-block;
      padding: 0;
      color: #000;

      &:link,
      &:visited {
        color: #000;
      }
      &:hover,
      &:active,
      &:focus {
        color: $color-gray-40;

        ~ ul {
          opacity: 1;
          visibility: visible;
          transform: translateX(-12px);

          &:before {
            width: 100%;
          }
        }
        &:before {
          content: '';
          position: absolute;
          left: 0;
          width: 100%;
          top: 100%;
          height: 10px;
        }
      }
    }
    ul {
      position: absolute;
      z-index: 19;
      top: calc(100% + 4px);
      left: $baseline-height/2;
      right: auto;
      width: auto;
      min-width: 100%;
      padding: 0;
      background: #fff;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
      text-align: left;
      transition: opacity 0.25s, visibility 0.25s, transform 0.15s;

      &:hover {
        opacity: 1;
        visibility: visible;
        transform: translateX(-12px);

        &:before {
          width: 100%;
        }
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 1px;
        background-image: linear-gradient(to right, #000, $color-gray-86);
        transition: width 0.2s;
      }
      li {
        display: block;
        font-size: 0.875em; /* 14px / 16px */
        line-height: 1.571; /* 22px */
        white-space: nowrap;
        margin-right: 0;

        &.menu-item-has-children {

          > a {
            position: relative;

            &:after {
              content: '\f105';
              position: absolute;
              top: 10px;
              right: 12px;
            }
          }
          // reposition ">" based on increased padding-top
          &:first-child > a:after {
            top: 14px;
          }
        }
        li {
          font-size: 1em;
        }
        &:first-child a {
          padding-top: 12px;
        }
        &:last-child a {
          padding-bottom: 12px;
        }
      }
      a {
        display: block;
        padding: 6px 36px 6px 24px;

        &:hover,
        &:active,
        &:focus {

          &:before {
            content: '';
            position: absolute;
            left: 100%;
            width: 100%;
            top: 0;
            height: 100%;
          }
        }
      }
      ul,
      ul ul,
      ul ul ul,
      ul ul ul ul {
        left: calc(100% + 12px);
        right: auto;
        top: 0;
      }
    }
  }
  .rtl {

    .menu-secondary-items,
    .menu-secondary .menu-unset > ul {

      li {

        &.menu-item-has-children {

          ul a:after {
            transform: rotate(180deg);
            left: auto;
            right: 6px;
          }
        }
      }
      a {

        &:hover,
        &:active,
        &:focus {

          ~ ul {
            transform: translateX(12px);
          }
        }
      }
      ul {

        &:hover {
          transform: translateX(12px);
        }
        a,
        ul a {
          padding: 6px 36px 6px 12px;
        }
      }
    }
  }
}