.toggle-navigation {
  position: relative;
  z-index: 19;
  float: right;
  border: solid 1px $color-gray-86;
  border-radius: 3px;
  background: none;
  margin: 0;
  padding: 8px 5px;
  margin-left: -36px;
  transition: border-color 0.35s;

  &:hover {
    cursor: pointer;
  }
  svg {
    display: block;
  }
  .top-bar,
  .bottom-bar {
    transition: transform 0.35s;
  }
  .middle-bar {
    transition: opacity 0.35s;
  }
  &.open {
    border-color: #000;

    .top-bar {
      transform: translateY(8px);
    }
    .middle-bar {
      opacity: 0;
    }
    .bottom-bar {
      transform: translateY(-8px);
    }
  }
  &:focus {
    outline: none;
  }
}
.menu-secondary-container {
  display: none;
}

.menu-primary-container {
  position: fixed;
  z-index: 9;
  top: 67px;
  bottom: 0;
  left: 100%;
  width: 100%;
  background: #000;
  opacity: 0;
  visibility: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transition: opacity 0.35s, visibility 0.35s, transform 0.25s;

  &.open {
    opacity: 1;
    visibility: visible;
    transform: translateX(-100%);
  }
  &.tier-2,
  &.tier-3,
  &.tier-4,
  &.tier-5 {

    .dropdown-navigation {
      opacity: 1;
      visibility: visible;
    }
  }
  &.tier-2 {

    .menu-primary {
      transform: translateX(-100%);
    }
  }
  &.tier-3 {

    .menu-primary {
      transform: translateX(-200%);
    }
  }
  &.tier-4 {

    .menu-primary {
      transform: translateX(-300%);
    }
  }
  &.tier-5 {

    .menu-primary {
      transform: translateX(-400%);
    }
  }
}
.admin-bar .menu-primary-container {
  top: 113px;
}
.menu-primary {
  padding: 0 $column * 2;
  text-align: left;
  transition: transform 0.25s;
}
.menu-primary-items,
.menu-unset ul {
  list-style: none;
  margin: 0;

  &:after {
    @include clearfix;
  }
  li {
    position: relative;
    border-bottom: solid 1px $color-gray-15;
    //border-bottom: solid 1px #fff;

    &.current-menu-item {

      > a {
        color: $color-blue;
      }
    }
    &.current,
    &.current-ancestor {

      ul {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  a {
    @extend %white-link;
    display: block;
    font-family: $pt-sans;
    padding: 15px 0;
    transition: color 0.15s;

    &:hover,
    &:active,
    &:focus {
      color: $color-gray-86;
    }
  }
  ul {
    position: fixed;
    top: -12px;
    left: 100%;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0 $column * 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s;

    ul {
    left: 200%;
    }
    ul ul {
      left: 300%;
    }
    ul ul ul {
      left: 400%;
    }
    ul ul ul ul {
      left: 500%;
    }
  }
}
.toggle-dropdown {
  @extend %twenty-one-pixels;
  position: absolute;
  right: 0;
  top: -1px;
  color: #fff;
  background: none;
  margin: 0;
  padding: 15px $column * 2;
  border: solid 1px $color-gray-15;
  //border: solid 1px #fff;
  border-radius: 0;
  transition: color 0.15s, background 0.15s;

  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  &:hover,
  &:active,
  &:focus {
    color: $color-gray-86;
    background: #000;
  }
}
.dropdown-navigation {
  position: relative;
  z-index: 39;
  opacity: 0;
  visibility: hidden;
  font-family: $pt-sans;
  color: #fff;
  text-align: left;
  border-bottom: solid 1px $color-gray-15;
  margin-bottom: $baseline-height/2;
  transition: opacity 0.35s, visibility 0.35s;

  &:after {
    @include clearfix;
  }
  a {
    @extend %white-link;
    @extend %twelve-pixels;
    @extend %uppercase;
    font-weight: 700;
    float: left;
    display: block;
    padding: $baseline-height/2 $column * 2;
  }
  span {
    @extend %twelve-pixels;
    @extend %uppercase;
    font-weight: 700;
    float: right;
    padding: $baseline-height/2 $column * 2;
    color: $color-gray-60;
  }
}
.menu-primary-items {
  position: relative;
  top: -42px;
}