@media all and (min-width: $eight-hundred) {

  .single-post.layout-post-right-sidebar,
  .page.layout-page-right-sidebar,
  .single-post.layout-post-right-sidebar-wide,
  .page.layout-page-right-sidebar-wide {

    .content-container {

      &:before {
        display: none;
      }
    }
    .main {
      margin-left: 25%;
    }
    .entry article > .featured-image {
      left: -56%;
      width: 156%;
    }
  }
  .single-post.layout-post-left-sidebar,
  .page.layout-page-left-sidebar,
  .single-post.layout-post-left-sidebar-wide,
  .page.layout-page-left-sidebar-wide {

    .content-container {

      &:after {
        display: none;
      }
    }
    .entry article > .featured-image {
      width: 156%;
    }
  }
  .single-post.layout-post-no-sidebar,
  .page.layout-page-no-sidebar,
  .single-post.layout-post-no-sidebar-wide,
  .page.layout-page-no-sidebar-wide {

    .content-container {

      &:before,
      &:after {
        display: none;
      }
    }
    .main {
      float: none;
    }
    .entry article > .featured-image {
      left: -28%;
      width: 156%;
    }
    .post-header {
      position: relative;
      left: -14%;
      width: 128%;
      text-align: center;
      margin: $baseline-height * 0.75 0 $baseline-height;
    }
    .post-title {
      font-size: 2.375em; /* 38px / 16px */
      line-height: 1.342; /* 51px */
    }
  }
  .single-post.layout-post-left-sidebar-wide,
  .page.layout-page-left-sidebar-wide,
  .single-post.layout-post-right-sidebar-wide,
  .page.layout-page-right-sidebar-wide {

    .post-header,
    .post-content,
    .post-meta,
    .more-from-category,
    .comments {
      position: relative;
      width: 156%;
    }
  }
  .single-post.layout-post-right-sidebar-wide,
  .page.layout-page-right-sidebar-wide {
   
    .main {
      margin-left: 0;
    }
    .entry article > .featured-image {
      left: 0;
    }
  }
  .single-post.layout-post-no-sidebar-wide,
  .page.layout-page-no-sidebar-wide {

    .main {
      width: 75%;
      margin-left: 12.5%;
    }
    .entry article > .featured-image {
      left: -18%;
      width: 136%;
    }
  }
}