.entry {
  margin-bottom: $baseline-height * 0.75;
  padding-bottom: $baseline-height * 0.75;
  border-bottom: solid 1px $color-gray-86;
}
.single .entry {
  border-bottom: none;
}
.post-header {
  margin: $baseline-height/2 0;
}
.post-title {
  @extend %eighteen-pixels;

  a {
    @extend %black-link;
  }
}
.post-byline {
  @extend %twelve-pixels;
  @extend %uppercase;
  color: $color-gray-40;

}
.post-content {
  margin-top: $baseline-height/2;

  > p:first-child {
    margin-top: 0;
  }
  > p:last-child {
    margin-bottom: 0;
  }
  iframe {
    max-width: 100%;
  }
  &:after {
    @include clearfix;
  }
}
.single .post-content {
  margin-bottom: $baseline-height * 0.75;
}
.post-meta {
  border-bottom: solid 1px $color-gray-86;
}
.post-categories {
  font-style: italic;
  margin-bottom: $baseline-height * 0.75;
}
.post-tags {
  margin: $baseline-height * 0.75 0;

  ul {
    list-style: none;
    margin: 0;
  }
  li {
    display: inline-block;
  }
  a {
    @extend %black-link;
    @extend %twelve-pixels;
    padding: 3px 12px;
    background: $color-gray-95;
    margin-right: 6px;
    transition: color 0.15s, background 0.15s;

    &:hover,
    &:active,
    &:focus {
      background: $color-gray-86;
      color: #000;
    }
  }
}
.post-author {
  padding: $baseline-height 0 $baseline-height/4;
  margin: $baseline-height * 0.75 0;
  border-top: solid 1px $color-gray-86;

  &:after {
    @include clearfix;
  }
  .avatar-container {
    float: left;
    margin-right: $baseline-height/2;
    line-height: 0;
  }
  .avatar {
    border-radius: 50%;
  }
  h3 {
    font-weight: 700;
    font-style: italic;
    margin-bottom: 6px;
  }
  p {
    color: $color-gray-40;

    &:first-of-type {
      margin-top: 0;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
.more-from-category {
  margin: $baseline-height * 0.75 0;

  .top {
    font-family: $pt-sans;
    margin-bottom: $baseline-height * 0.75;

    &:after {
      @include clearfix;
    }
  }
  .section-title {

    span {
      font-weight: 700;
    }
  }
  .category-link {
    @extend %twelve-pixels;
    line-height: 2;
    float: right;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
  ul {
    list-style: none;
    margin: 0;
  }
  li {
    margin-bottom: $baseline-height * 0.75;
    padding-bottom: $baseline-height * 0.75;
    border-bottom: solid 1px $color-gray-86;
  }
  .title {
    @extend %black-link;
    @extend %eighteen-pixels;
    display: block;
    margin-top: $baseline-height/2;
  }
}
.post-password-form {

  p:last-child {
    display: flex;

    label {
      flex-grow: 1;

      input {
        margin-top: 6px;
      }
    }
    input[type="submit"] {
      align-self: flex-end;
      padding: 9px 18px;
    }
  }
}

@media all and (min-width: $five-hundred) {

  .post-title {
    font-size: 1.3125em; /* 21px / 16px */
    line-height: 1.143; /* 24px */
  }
  .more-from-category {

    .category-container {
      margin: $baseline-height * 0.75 0;
      border-bottom: solid 1px $color-gray-86;
    }
    ul {

      &:after {
        @include clearfix;
      }
    }
    li {
      width: 50%;
      float: left;
      border-bottom: none;
      margin-bottom: 0;

      &:nth-child(odd) {
        padding-right: $baseline-height/2;
        border-right: solid 1px $color-gray-86;
        clear: left;
      }
      &:nth-child(even) {
        padding-left: $baseline-height/2;
        border-left: solid 1px $color-gray-86;
        margin-left: -1px;
      }
      &:nth-child(3),
      &:nth-child(4) {
        border-top: solid 1px $color-gray-86;
        padding-top: $baseline-height * 0.75;
      }
    }
  }
}

@media all and (min-width: $six-hundred) {

  .post-title {
    font-size: 1.75em; /* 28px / 16px */
    line-height: 1.357; /* 38px */
  }
}

@media all and (min-width: $eight-hundred) {

  .post-title {
    font-size: 1.125em; /* 18px / 16px */
    line-height: 1.333; /* 24px */
  }
}

@media all and (min-width: $nine-hundred) {

  .post-title {
    font-size: 1.3125em; /* 21px / 16px */
    line-height: 1.143; /* 24px */
  }
}

@media all and (min-width: $eleven-hundred) {

  .post-title {
    font-size: 1.75em; /* 28px / 16px */
    line-height: 1.357; /* 38px */
  }
}