.sidebar-left,
.sidebar-right {

  .inner {
    padding: $baseline-height $column * 2 0;
    margin: $baseline-height/2 0;
    border-top: solid 1px $color-gray-86;

    &:after {
      @include clearfix;
    }
  }
  .widget {
    margin-bottom: $baseline-height;
  }
  .widget-title {
    @extend %fourteen-pixels-title;
    @extend %uppercase;
    font-family: $pt-sans;
    font-weight: 700;
    color: $color-gray-40;
  }
}
.sidebar-left {
  display: table-row-group;
}
.sidebar-right {
  display: table-footer-group;
}

@media all and (min-width: $six-hundred) {

  .sidebar {

    .inner {
      padding: $baseline-height $column 0;
    }
    .widget {
      width: 48%;
      float: right;

      &:nth-child(odd) {
        margin-right: 4%;
        float: left;
      }
    }
  }
  .sidebar-left {
    position: relative;
    padding-right: $baseline-height * 0.75;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: -1px;
      bottom: 0;
      width: 1px;
      background: $color-gray-86;
    }
  }
  .sidebar-right {
    padding-left: $baseline-height * 0.75;
  }
}

@media all and (max-width: 799px) {

  .hide-left-sidebar .sidebar-left {
    display: none;
  }
  .hide-right-sidebar .sidebar-right {
    display: none;
  }
}

@media all and (min-width: $eight-hundred) {

  .sidebar {
    display: block;
    margin: 0;
    width: 22%; // $column * 8

    .inner {
      padding: 0;
      margin: 0;
      border: none;
    }
    .widget {
      width: 100%;
      float: none;
      clear: both;

      &:nth-child(odd) {
        margin-right: 0;
      }
    }
  }
  .sidebar-left {
    margin-left: 3%; // $column
    padding-left: 0;
    float: left;

    &:before {
      display: none;
    }
    ~ .main {
      margin-left: 0;
    }
  }
  .sidebar-right {
    margin-right: 3%; // $column
    padding-right: 0;
    float: right;
  }
}