@import "variables";

// Mission News Pro section
#accordion-section-ct_mission_news_pro {

  .accordion-section-title {
    color: #fff;
    background: #05B0E7;
    transition: background 0.2s;

    &:after {
      color: #fff;
    }

    &:hover,
    &:active,
    &:focus {
      background: #3A96B5 !important;
      color: #fff !important;

      &:after {
        color: #fff !important;
      }
    }
  }
}
#customize-control-mission_pro {
  background: white;
  border: solid 1px $color-gray-86;
  padding: 6px 24px;
  box-sizing: border-box;

  ul {
    list-style: disc;
    padding-left: 15px;
  }
  img {
    position: relative;
    max-width: calc(100% + 48px);
    top: -6px;
    left: -24px;
    border-bottom: solid 1px $color-gray-86;
  }
  .bold {
    font-weight: 600;
    font-size: 16px;
  }
  .button-wrapper {
    text-align: center;
  }
  .mission-pro-button {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 24px;
    margin: 12px auto;
    background: #FF931E;
    color: #fff;
    text-decoration: none;
    transition: background 0.2s;

    &:before {
      content: '\f06e';
      font-family: 'FontAwesome';
      margin-right: 6px;
    }

    &:hover,
    &:active,
    &:focus {
      background: #FF8A23;
    }
  }
}

#sub-accordion-section-ct_mission_news_social_media_icons {

  #customize-control-email-form {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: solid 1px #d5d5d5;
  }
}

// layout picture controls
#customize-control-layout {

  .customize-control-title {
    margin-bottom: 18px;
  }
  label {
    display: inline-block;
    margin-bottom: 12px;
    margin-left: 0;
    padding: 0;
    text-align: center;
    font-weight: 500;
    transition: opacity 0.2s ease;

    img {
      margin-top: 4px;
    }
    &.selected img {
      outline: solid 2px #05B0E7;
    }
  }
}
#customize-control-layout label:hover {
  opacity: 0.8;
}
#customize-control-layout input {
  display: none;
}