/*===== Variables =====*/
/* Theme Colors */
/* Media Query widths */
/* Social Media Brand Colors */
/*===== Mixins =====*/
/***** Silent Classes *****/
.upgrades-ad {
  text-align: center;
  border-bottom: solid 1px #eee;
}
.upgrades-ad a {
  display: block;
  padding: 9px 0;
  color: white;
  background: #43b3c4;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.upgrades-ad a:link, .upgrades-ad a:visited, .upgrades-ad a:hover, .upgrades-ad a:active, .upgrades-ad a:focus {
  color: white;
}
.upgrades-ad a:hover, .upgrades-ad a:active, .upgrades-ad a:focus {
  background: #3ea5b3;
}
.upgrades-ad a:hover span, .upgrades-ad a:active span, .upgrades-ad a:focus span {
  right: -3px;
}
.upgrades-ad span {
  position: relative;
  right: 0;
  -webkit-transition: right 0.15s ease-in-out;
  transition: right 0.15s ease-in-out;
}

#sub-accordion-section-ct_mission_social_media_icons #customize-control-email-form {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: solid 1px #d5d5d5;
}

#customize-control-layout .customize-control-title {
  margin-bottom: 18px;
}
#customize-control-layout label {
  display: inline-block;
  margin-bottom: 12px;
  margin-left: 0;
  padding: 0;
  text-align: center;
  font-weight: 500;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
#customize-control-layout label img {
  margin-top: 4px;
}
#customize-control-layout label.selected img {
  outline: solid 2px #05B0E7;
}

#customize-control-layout label:hover {
  opacity: 0.8;
}

#customize-control-layout input {
  display: none;
}
